
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

mi-analizador-ui/node_modules/
mi-analizador-ui/dist/
mi-analizador-ui/.env
mi-analizador-ui/.env.local
mi-analizador-ui/.env.*.local

npm-debug.log*
yarn-error.log
yarn-debug.log


Back/mi-servidor
Back/mi-servidor.exe
Back/coverage.out
Back/*.cover